@use "variables" as v;
@use "mixins" as *;

body{
    @include zero_space;
    background: v.$bg-color;
}
a{text-decoration: none;color: black;}
.main{
    justify-content: center;
    margin: 10vw 20vw;
}
#user_utilities{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#user_utilities{
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: v.$box-shadow;
    #user_items{list-style: none;}
    li{
        padding: 10px 17px;
        margin: 10px 17px;
        border-radius: 10px;
        background-color: rgba(255,255,255,0.3);
        &:hover{
            cursor: pointer;
            background: cadetblue;
        }
    }
}
