@use 'variables' as v;
@use 'mixins' as *;

@mixin flex_column{
    display: flex;
    flex-direction: column;
}

body{@include body_style(v.$bg-color);}
#corpse{
    margin: 10px;
    padding: 7px;
    border-radius: 5px;
    background: v.$white_tpcy;
}
#stats{
    background: v.$white_tpcy;
    margin: 2px;
    padding: 7px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    &_titles{
        margin: 2px 5px;
        @include flex_column();
    }
    &_values{
        margin: 2px 5px;
        @include flex_column();
    }
}
hr{
    @include hrs;
}